

/* CSS */
.button-1 {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 800;
    min-height: 40px;
    outline: 0;
    padding: 15px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    background: #4cb4bf !important;
    border: 1px solid #4cb4bf !important;
    color: #ffffff !important;

}
.button-1:hover,
.button-1:active {
    /* background-color: initial; */
    background-position: 0 0;
    background-color: #0b5ed7 !important;
    color: #ffffff !important;
    border: 1px solid #0b5ed7 !important;
}
.button-1:active {
    opacity: 0.5;
}

.button-red {
    background: #ff4742;
    border: 1px solid #ff4742;
    color: #ffffff;
}
.button-red:hover, .button-red:active {
    color: #ff4742;
}

.button-darkblue {
    background: var(--blue);
    border: 1px solid var(--blue);
    color: var(--white);
}
.button-darkblue:hover, .button-darkblue:active {
    color: var(--blue);
}

.button-yellow {
    background: var(--yellowhover);
    border: 1px solid var(--yellowhover);
    color: var(--blue);
}
.button-yellow:hover, .button-yellow:active {
    color: var(--yellowhover);
}


.button-blue {
    background: var(--blue);
    border: 1px solid var(--blue);
    color: var(--white);
}
.button-blue:hover, .button-blue:active {
    color: var(--blue);
}

.button-orange {
    background: #ff8c00;
    border: 1px solid #ff8c00;
    color: #ffffff;
}
.button-orange:hover, .button-orange:active {
    color: #ff8c00;
}

.button-purple {
    background: #800080;
    border: 1px solid #800080;
    color: #ffffff;
}
.button-purple:hover, .button-purple:active {
    color: #800080;
}

.button-pink {
    background: #ff1493;
    border: 1px solid #ff1493;
    color: #ffffff;
}
.button-pink:hover, .button-pink:active {
    color: #ff1493;
}

.button-white {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
}
.button-white:hover, .button-white:active {
    color: #ffffff;
}

.button-lightgreen {
    background: #90ee90;
    border: 1px solid #90ee90;
    color: #000000;
}
.button-lightgreen:hover, .button-lightgreen:active {
    color: #000;
}


/* <!-- HTML !--> */
/* <button class="button-32" role="button">Button 32</button> */

/* CSS */
.button-2 {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-2:not(:disabled):hover,
.button-2:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.button-2:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

/* <!-- HTML !-->
<button class="button-35" role="button">Button 35</button> */

/* CSS */
.button-35 {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}


/* .button-blue-revert {
    background: var(--white) !important;
    border: 1px solid var(--blue);
    color: var(--blue);
}
.button-blue-revert:hover, .button-blue-revert:active {
    color: var(--white);
    background-color: var(--blue) !important;
}

.button-orange-revert {
    background: var(--white) !important;
    border: 1px solid #ff8c00;
    color: #ff8c00;
}
.button-orange-revert:hover, .button-orange-revert:active {
    color: var(--white);
    background-color: #ff8c00 !important;
} */