@import url('./style.css');
.btn_tro_ve{
    background-color: var(--blue);
    outline: none;
}
a:hover{
    background-color: var(--bluehover);
}
.btn_upload{
    background-color: var(--blue);
}
table{
    font-size: 1.5rem;
}
.th{
    background-color: var(--blue);
    color: var(--white);
    font-size: 2rem;
}
input.btn_thay_doi{
    background-color: var(--blue) !important;
    font-size: 1.5rem !important;
}
input.btn_thay_doi:hover{
    background-color: var(--bluehover) !important;
}
h1{
    color: var(--blue);
}
body{
    background-color: var(--white);
}
tr, td{
    font-size: 2rem !important;
    border: 1px solid #ddd;
    padding: 0.5rem;
}
h1{
    color: var(--blue) !important;
}
tr:nth-child(even){
    background-color: #f9f9f9 !important;
}
a{
    margin: 0.5rem !important;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
}