@import url('./style.css');
.th{
    background-color: var(--blue);
    color: var(--white);
}
.btn_tro_ve{
    background-color: var(--blue);
    outline: none;
}
.btn_tro_ve:hover{
    background-color: var(--bluehover);
    cursor: pointer;
}
.btn_xem_ct{
    background-color: var(--blue);
    outline: none;
}
.btn_xem_ct:hover{
    background-color: var(--bluehover) !important;
    cursor: pointer;
}
h1{
    color: var(--blue) !important;
}
body{
    background-color: var(--white);
}
tr, td{
    border: 1px solid #ddd;
    padding: 1rem;
    font-size: 1.8rem !important;
    font-weight: normal !important;
}
tr:nth-child(even){
    background-color: #f9f9f9 !important;
}
a{
    margin: 0.5rem !important;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
}
