@import url('./style.css');
.th{
    background-color: var(--blue);
    color: var(--white);
}
.btn_tro_ve{
    background-color: var(--blue);
    outline: none;
}
.btn_tro_ve:hover{
    background-color: var(--bluehover);
    cursor: pointer;
}
.btn_xem_ct{
    background-color: var(--blue);
    outline: none;
}
.btn_xem_ct:hover{
    background-color: var(--bluehover) !important;
    cursor: pointer;
}
