@import url('./style.css');



.score-container{
    width: 35%;
}

.btn {
    background-color: #2da0fa;
    background-color: #bbded6;
    border: none;
    color: white;
    color: grey;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: transform 0.5s ease-in-out;
    font-size: 25px;}

/* Nút help */
#help {
    padding: 0 10px;
    margin-top: 10px;
}
/* tiêu đề */
.boxQuiz h1{
    font-size: 3rem;
}

button#traloikeotha.btn.hinhthucTL{
    background-color: var(--blue);

}

button#traloikeotha.btn.hinhthucTL:hover{
    background-color: var(--yellow);
    
}

button#traloithuam.btn.hinhthucTL{
    background-color: var(--blue);
    
}

button#traloithuam.btn.hinhthucTL:hover{
    background-color: var(--yellow);  
}
/*  Thanh hỗ trợ */
/* div.score-container.box_flex_column{
  
} */

div.cauhoi{
    background-color: var(--blue);
    color: var(--white);
}

#nuthotro button{
    background-color: var(--blue);
    color: var(--white);
}

#nuthotro button:hover{
    background-color: var(--yellow);
    color: var(--white);
}
#backbutton button{
    background-color: var(--blue);
    color: var(--white);
}

#backbutton button:hover{
    background-color: var(--yellow);
    color: var(--white);
}

.show-help button{
    background-color: var(--bluehover);
    color: var(--white);
}

.show-help button:hover{
    background-color: var(--yellow);
    color: var(--white);
}

/* Hỗ trợ bên trong */
button#incrementButton{
    background-color: var(--blue);
    color: var(--white);
}

button#incrementButton:hover{
    background-color: var(--yellow);
    color: var(--white);
}

button#decrementButton{
    background-color: var(--blue);
    color: var(--white);
}

button#decrementButton:hover{
    background-color: var(--yellow);
    color: var(--white);
}

button.back-button{
    background-color: var(--blue);
    color: var(--white);
}

button.back-button:hover{
    background-color: var(--yellow);
    color: var(--white);
}

button#check.btn{
    background-color: var( --blue);
    display: flex;
    justify-content: center;
    width: 14rem;
    gap: 5px;
    padding: 15px 15px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    /* margin-left: 1.5rem; */
    text-align: center;

}

button#check.btn:hover{
    background-color: var( --yellow);

}
button#help.btn{
    background-color: var( --blue);
    display: flex;
    width: 14rem;
    justify-content: center;
    gap: 5px;
    color: white;
    padding: 5px 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    /* margin-left: 1.5rem; */
    text-align: center;

}

button#help.btn:hover{
    background-color: var( --yellow);
}

div#the0_0.tag{
    background-color: var( --blue);
    height: 1rem;
}
div#the0_0.tag:hover{
    background-color: var( --yellow);
}

div#the0_1.tag{
    background-color: var( --blue);
    height: 1rem;
}
div#the0_1.tag:hover{
    background-color: var( --yellow);
}

div#the0_2.tag{
    background-color: var( --blue);
    height: 1rem;
}
div#the0_2.tag:hover{
    background-color: var( --yellow);
}

div#the0_3.tag{
    background-color: var( --blue);
    height: 1rem;
}
div#the0_3.tag:hover{
    background-color: var( --yellow);
}
/* thu âm */
button#recordButton{
    background-color: var( --blue);
}
button#recordButton:hover{
    background-color: var( --yellow);
}
button#traloidien.btn.hinhthucTL{
    background-color: var( --blue);
}

button#traloidien.btn.hinhthucTL:hover{
    background-color: var( --yellow);
}
/* nút xem đáp án */
button.xemdapan-button{
    background-color: var( --blue);
}
button.xemdapan-button:hover{
    background-color: var( --yellow);
}
#backbutton button {
    background-color: var(--blue);
    color: var(--white);
    margin-top: 8rem;
}
/* div.show {
    position: absolute;
    top: 15%;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px #1E97F3;
   
    width: 100%;
    min-height: 800px;
    overflow: hidden;
    display: flex
;
    flex-direction: column;
} */
div.help-container.show{
    width: 100%;
}
div.score-container.box_flex_column {
    top: 15%;
    background-color: #fff;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px #1E97F3;
    text-align: center;
    overflow: hidden;
    max-width: 210px;
}
div.show{
    width: 57%;
}
.speaker {
    background-color: #007bff;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    font-size: 25px;
    width: 100px;
}