@import url('./style.css');
body {
    /* background-color: #f0f8ff; Tông màu nhã nhặn */
    margin: 0;
    padding: 0;
    position:relative;
}

div.cauhoi{
    background-color: var(--blue);
    color: var(--white);

}
.inputt {
    box-shadow: rgb(30, 151, 243) 0px 2px 8px 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    color: black;
    font-weight: bolder;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(148, 0, 211);
    border-image: initial;
    margin-top: 300px;
    border-radius: 20px;
}

#contain_2 {
    position: absolute;
    top: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px #1E97F3;
    text-align: center;
    overflow: hidden;
    max-width: 160px;
    width: 80rem;
    bottom: 20rem;
    height: 25rem;
}
button#check.btn{
    background-color: var( --blue);
    display: flex;
   
    justify-content: center;
    gap: 5px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
   




}

button#check.btn:hover{
    background-color: var( --yellow);

}
button#help.btn{
    background-color: var( --blue);
    display: flex;
    justify-content: center;
    gap: 5px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
   

}

button#help.btn:hover{
    background-color: var( --yellow);
}

div.contain{
    height: 20rem;
}

div#basket_plate.basket_plate{
    height: 30rem;
    top: 13rem;
    right: 8rem;
    width: 280px;

}

.inputt {
    box-shadow: rgb(30, 151, 243) 0px 2px 8px 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    color: black;
    font-weight: bolder;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(148, 0, 211);
    border-image: initial;
    margin: 120px;
    border-radius: 20px;
}



button#btn-kieuhotro22.btn.kht.hinhThucHelp{
    background-color: var( --blue);
}
button#btn-kieuhotro22.btn.kht.hinhThucHelp:hover{
    background-color: var( --yellow);
}


button#btn-kieuhotro23.btn.kht.hinhThucHelp{
    background-color: var( --blue);
}
button#btn-kieuhotro23.btn.kht.hinhThucHelp:hover{
    background-color: var( --yellow);
}


button#btn-kieuhotro24.btn.kht.hinhThucHelp{
    background-color: var( --blue);
}
button#btn-kieuhotro24.btn.kht.hinhThucHelp:hover{
    background-color: var( --yellow);
}


button#btn-kieuhotro25.btn.kht.hinhThucHelp{
    background-color: var( --blue);
}
button#btn-kieuhotro25.btn.kht.hinhThucHelp:hover{
    background-color: var( --yellow);
}

button.back-button{
    background-color: var( --blue);
}
button.back-button:hover{
    background-color: var( --yellow);
}


div#bieuThuc{
    background-color: var( --blue);
}
div#bieuThuc:hover{
    background-color: var( --blue);
}

button.speaker{
    background-color: var( --blue);

}
button.speaker:hover{
    background-color: var( --yellow);
}


.nuthotro button {
    background-color: var(--blue);
}

.nuthotro button:hover{
    background-color: var(--yellow);
}

.phai {
    width: 40%;
    height: 105%;
    background-color: lightcoral;
    text-align: left;
    margin-right: 10rem;
}

.trai {
    width: 45%;
    background-color: lightblue;
    text-align: left;
}
#backbutton button {
    background-color: var(--blue);
    color: var(--white);
    margin-top: 10rem;
}
.speaker {
    background-color: #007bff;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    font-size: 25px;
    width: 100px;
}