@import url('./style.css');
body {
    /* background-color: #f0f8ff; Tông màu nhã nhặn */
    margin: 0;
    padding: 0;
    position:relative;
}

input#btnSubmitSendAns{
    background-color: var(--blue);
    margin-top: 30rem;
}

input#btnSubmitSendAns:hover{
    background-color: var(--yellow);
}
div.cauhoi{
    background-color: var(--blue);
    color: var(--white)
}

div.con_vat_item{
    /* width: 20rem; */
    height: 20rem;
}
div#container{
    width: 150rem;
}
image{
   height: 10rem;
   text-align: center;
   width: 30rem;
   border: var(--black)
}
div#trangthai1{
    margin-top: 5rem;

}
button#xemdapan-button{
    background-color: var(--blue);
}
button#xemdapan-button:hover{
    background-color: var(--yellow);
}
div.flag3{
    width: 10rem;
}
/*  */

button#btn-kieuhotro22.btn.kht.hinhThucHelp{
    background-color: var( --blue);
}
button#btn-kieuhotro22.btn.kht.hinhThucHelp:hover{
    background-color: var( --yellow);
}


button#btn-kieuhotro23.btn.kht.hinhThucHelp{
    background-color: var( --blue);
}
button#btn-kieuhotro23.btn.kht.hinhThucHelp:hover{
    background-color: var( --yellow);
}


button#btn-kieuhotro24.btn.kht.hinhThucHelp{
    background-color: var( --blue);
}
button#btn-kieuhotro24.btn.kht.hinhThucHelp:hover{
    background-color: var( --yellow);
}


button#btn-kieuhotro25.btn.kht.hinhThucHelp{
    background-color: var( --blue);
}
button#btn-kieuhotro25.btn.kht.hinhThucHelp:hover{
    background-color: var( --yellow);
}

button.back-button{
    background-color: var( --blue);
}
button.back-button:hover{
    background-color: var( --yellow);
}


div#bieuThuc{
    background-color: var( --blue);
}
div#bieuThuc:hover{
    background-color: var( --blue);
}

button.speaker{
    background-color: var( --blue);

}
button.speaker:hover{
    background-color: var( --yellow);
}

.nuthotro button {
    background-color: var(--blue);
}

.nuthotro button:hover{
    background-color: var(--yellow);
}
