@import url('./style.css');

div#contain_2{
    width: 20rem;
    position: fixed;
}
div#basket.basket{
    
}
button#check.btn{
    background-color: var( --blue);
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px 20px;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 1.5rem; */
    color: var(--white);

}

button#check.btn:hover{
    background-color: var( --yellow);

}
button#help.btn{
    background-color: var( --blue);
    color: var(--white);
    /* display: flex;
   
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 1.5rem; */

}

button#help.btn:hover{
    background-color: var( --yellow);
}
div.cauhoi{
    background-color: var(--blue);
    color: var(--white);
}

#nuthotro button{
    background-color: var(--blue);
    color: var(--white);
}

#nuthotro button:hover{
    background-color: var(--yellow);
    color: var(--white);
}
#backbutton button{
    background-color: var(--blue);
    color: var(--white);
}

#backbutton button:hover{
    background-color: var(--yellow);
    color: var(--white);
}

.show-help button{
    background-color: var(--bluehover);
    color: var(--white);
}

.show-help button:hover{
    background-color: var(--yellow);
    color: var(--white);
}

/* #contain_2 {
    position: absolute;
    top: 15%;
    right: 5%;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px #1E97F3;
    text-align: center;
    overflow: hidden;
    max-width: 200px;
} */

/* .btn {
    background-color: #2da0fa;
    background-color: #bbded6;
    border: none;
    color: white;
    color: grey;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: transform 0.5s ease-in-out;
    font-size: 25px;} */

/* Nút help */
#help {
    padding: 0 10px;
    margin-top: 10px;
}
#backbutton button {
    background-color: var(--blue);
    color: var(--white);
    margin-top: 10rem;
}

div#contain_2 {
    width: 30rem;
}
#contain_2 {
    position: absolute;
    top: 15%;
    right: 1%;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px #1E97F3;
    text-align: center;
    overflow: hidden;
    max-width: 185px;
    margin-left: 3rem;
}
.basket {
    width: 350px;
    min-height: 330px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #FFF0F5;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 0px #1E97F3;
    text-align: left;
}
.plate {
    margin-left: 50px;
    width: 350px;
    min-height: 330px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #E0FFFF;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 0px #1E97F3;
    text-align: left;
}