@import url('../css_v2/style.css');

.center-text{
    font-size: 2.6rem !important;
    margin-top: 2rem ;
    margin-bottom: 2rem;
    color: var(--blue) !important;
}
h2{
    font-size: 3rem !important;
}
label{
    font-size: 1.5rem !important;
}

.btn-submit{
    background-color: var(--blue) !important;
    width: 100% !important;
}
.btn-submit:hover{
    background-color: var(--bluehover) !important;
}
#bai_hoc{
    text-align: center;
    box-shadow: none !important;
    background-color: var(--white) !important;
    
}
.centered-text{
    font-size: 2.4rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    color: var(--blue) !important;
}
.block-bt, .block-da{
    font-size: 2rem !important;
}
.nt{
    font-size: 1.5rem !important;
}
#btn1{
    margin-left: 1rem !important;
}
.title{
    font-size: 2.4rem ;
    color: var(--blue);
}
input[type="number"]:focus{
    border: 0.185rem solid var(--bluehover) !important;
}
input[type="number"]:hover{
    border: 0.185rem solid var(--bluehover) !important;
}

form select{
    border: 0.185rem solid var(--bluehover) !important;
}
form input[type="text"]{
    border: 0.185rem solid var(--bluehover) !important;
}
input[type="text"]{
    border: 0.185rem solid var(--bluehover) !important;
}
form input[type='file']{
    border: 0.185rem solid var(--bluehover) !important;
}
form input[type="number"]{
    border: 0.185rem solid var(--bluehover) !important;
}
form input[type="number"]{
    border: 0.185rem solid var(--bluehover) !important;
}
body{
    background-color: var(--white) !important;
}
element.style{
    width: 100%;
}
.btn-submit ,form select {
    margin-bottom: 2rem !important;
}