@import url('./style.css');
table{
    font-size: 2.2rem;
}
/* .btn_doi_mat_khau{
    background-color: var(--yellow) !important;
    outline: 1px solid var(--yellowhover) !important;
    color: var(--blue) !important;
}
.btn_doi_mat_khau:hover{
    background-color: var(--bluehover) !important;
} */
.th{
    background-color: var(--blue);
    color: var(--white);
    font-size: 2.5rem;
}
h1{
    color: var(--blue);
}
body{
    background-color: var(--white);
}
form{
    width: 95% !important;
}
