@import url('../../assets/css_v2/style.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Inter", sans-serif; */
}

body {
    background-color: var(--sky);
    height: 100vh;
    overflow: hidden;
    font-size: 1.8rem;
}

form {
    max-width: 500px;
    top:10%;
    margin: 0 auto;
    overflow-y: auto; 
    max-height: 500px; 
    position: relative; 
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 20px 40px 0 rgba(118, 118, 128, 0.2); 
    background-color: var(--white); 
}

form h1{
    font-size: 2.8rem;
    text-align: center;
    color: var(--blue);
    /* margin-bottom: 10px; */
}

i {
    margin-right: 10px;
}

label {
    padding-left: 7px;
}

form label,
form input[type="text"],
form input[type="password"],
form input[type="submit"] {
    width: 100%;
    margin: 10px 0;
}

input[type="password"] {
    font-weight: bold;
    font-size: 2.4rem;
    letter-spacing: 2px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--blue);
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

form input[type="text"]:hover,
form input[type="password"]:hover {
    border: 2px solid var(--blue);
    cursor: pointer;
}

form input[type="text"]:focus,
form input[type="password"]:focus{
    border: 2px solid var(--blue);
    outline: 4px solid rgba(11, 37, 132, 0.3);
}


form input[type="submit"] {
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    font-weight: bold;
    font-size: 2.6rem;
}

form input[type="submit"]:hover {
    background-color: var(--bluehover);
    transform: translateY(-5px);
}

