#quizTypeForm {
    max-width: 600px;
    margin: 0 auto;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 2px 8px 0px #1E97F3;
    background-color: white;
    top: 20px;
    bottom: 70px;
    left: 0;
}

.inputStyle1{
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    outline: 2px solid #eeeeee;
    font-size: 22px;
}

label {
    font-size: 30px;
    text-align: left;
    color: #0071f9;
    margin-bottom: 10px;
}

select {
    max-width: 600px;
}

select:hover {
    border: 2px solid #0071f9;
}

i {
    margin-right: 8px;
    font-size: 25px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

form span{
    font-size: 17px;
    margin: 5px 0px 10px 0px;
}

.error{
    color: orangered;
}
.selectStyle1{
    width: 100%;
    text-align: center;
}