/* Bộ chọn :root dùng để chọn phần tử gốc trong trang web -- Phần tử <html> chính là phần tử gốc của trang web  */
/* :root{
    các khai báo định dạng CSS
} */
:root{
    --primary:#eeeeee;
    --secondary:deepskyblue;
    --secondary-light: #1E97F3;
    --white:#fff;
    --black: black;
    --bottom: #adadad; 
    --container:white;
    --text:#666666;
    --pink-color: #61b1ee;
    --line: #2f5f9a; 
    --dark: darkblue;
    --color:#0071f9; 
    --cho_duyet: orange;
    --da_duyet:green;
    --khong_duoc_duyet:red;
    --delete:#dc3545;
    --detail:#28a745;
    --hover:rgb(193, 158, 113);
}